@font-face {
    font-family: 'Monaco';
    src: url('../font/Monaco.ttf');
}

body {
    padding: 0;
    margin: 0;
    background-color: #85889c;
    font-family: 'Microsoft YaHei';
}

input {
    outline: none;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}


/* 主体部分样式 */

.container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 950px;
    height: 600px;
    margin-left: calc(50vw - 475px);
    margin-top: calc(50vh - 300px);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px 4px rgba(98, 100, 117, 0.548);
    background-color: #f8edec;
}


/* 上传区域样式 */

.container .pickfiles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 38.2%;
    height: 100%;
    background-color: #363b4e;
    background-image: url('../img/dog.png');
    background-repeat: no-repeat;
    background-size: 220px 200px;
    background-position: center bottom;
    color: rgb(228, 228, 228);
}

.container .pickfiles .title {
    margin-top: 20%;
    font-size: 26px;
    letter-spacing: 3px;
    font-family: 'Monaco';
    user-select: none;
}

.container .pickfiles .uploadText {
    cursor: pointer;
    margin-top: 40%;
    font-size: 16px;
}


/* 歌曲列表盒子 / 新建歌曲盒子 */

.container .song-list-box,
.container .new-song-box {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    box-sizing: border-box;
    width: 61.8%;
    height: 100%;
    background-color: #f8edec;
}

.container .song-list-box {
    z-index: 2;
}

.container .new-song-box {
    z-index: 1;
}

.container .song-list-box .new,
.container .new-song-box .back {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 7%;
    left: 5%;
    z-index: 3;
    text-align: center;
    cursor: pointer;
}

.container .song-list-box .new {
    z-index: 1;
}


/* 新建歌曲内样式 */

.container .new-song {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
}

.container .new-song .title {
    margin: 30px 0 0 0;
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    color: #555870;
    letter-spacing: 3px;
    user-select: none;
}

.container .new-song .input-box label {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #8183a0;
    user-select: none;
}

.container .new-song .input-box input {
    height: 32px;
    width: 250px;
    padding-left: 7px;
    font-size: 16px;
    border: 1px solid #bebfc9;
    border-radius: 7px;
    background-color: #fcf9f9;
    margin: 15px 10px;
}

.container .song-list-box .turing-page,
.container .new-song-box .change {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #f8edec;
    user-select: none;
    /* background: url('../img/catt.png') no-repeat; */
    /* background-size: 100%;
    background-position: right 40%; */
}

.container .song-list-box .prev,
.container .song-list-box .next,
.container .new-song-box .cancel,
.container .new-song-box .save {
    width: 100px;
    height: 36px;
    border: 1px solid #555870;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}

.container .song-list-box .prev,
.container .new-song-box .cancel {
    color: #555870;
}

.container .song-list-box .next,
.container .new-song-box .save {
    background-color: #555870;
    color: #fcf9f9;
}


/* 歌曲列表样式 */

.container .song-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.container .song-list .title {
    margin: 30px 0 22px 0;
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    color: #555870;
    letter-spacing: 3px;
    user-select: none;
}

.container .song-list ul {
    width: 100%;
    flex: 1;
    overflow: hidden;
}

.container .song-list ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    font-size: 16px;
}

.container .song-list ul li:first-of-type {
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #d1bfbd;
    user-select: none;
    /* text-align: center; */
}

.container .song-list ul li:hover {
    background-color: #f7d8d5;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.container .song-list ul li .number {
    margin: 0 10px 0 20px;
    width: 40px;
    text-align: center;
}

.container .song-list ul li .name,
.container .song-list ul li .singer {
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .song-list ul li .name {
    width: 220px;
}

.container .song-list ul li .edit,
.container .song-list ul li .destroy {
    width: 40px;
    cursor: pointer;
}

.container .song-list ul li .destroy {
    margin-right: 20px;
}

@keyframes toUpload {
    0% {
        transform: scale(1.0);
    }
    35% {
        transform: scale(0.85);
    }
    66% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

.uploadText.toLoad {
    animation: toUpload 1s;
}